/*** Header ***/

.top-header-links .grid-x {
	-ms-flex-pack: center;
    justify-content: center;
}

.top-header-links .head-links .button {
	margin-bottom: 0;
}

.top-bar button:focus {
	outline: 0;
}

.head-masthead ul {
	margin-left: 0;
}

@media screen and (min-width: 40em) {

	.top-header-links .grid-x {
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

}