/*** Off Canvas Menu ***/

.is-drilldown {
	overflow: visible !important;
	max-width: 30rem;
}

/*** Header ***/

.head-masthead {
    padding: 1rem 0;
}

.head-search ul {
	margin: 0;
}

.head-search input,
.head-search button {
	margin-bottom: 0;
}

.support-contact,
.support-navigation {
	display: inline-block;
}

.head-search ul {
	margin: 0;
}

.head-search input,
.head-search button {
	margin-bottom: 0;
}

.open-minibasket {
	background-color: transparent;
	color: black;
	padding: 0;
	margin-bottom: 0;
}

.open-minibasket:hover {
	color: inherit;
	background-color: transparent;
}

.open-minibasket:focus {
	outline: 0;
}

.open-minibasket .fa-shopping-cart,
.open-minibasket .fa-caret-left {
	font-size: 1.4rem;
    position: relative;
    top: 0.2rem;
}

.open-minibasket .fa-caret-left {
	margin-right: -0.4rem;
}

.open-minibasket-border {
	display: inline-block;
	padding-right: 1em;
	border: solid 0.1rem;
	border-radius: 0.5rem;
}

.open-minibasket-counter {
	display: inline-block;
	padding: 0.85em 1em;
}

.open-mini-basket .open-minbasket-text,
.open-mini-basket .fa-caret-down {
	display: none;
}

/** Mega Menu **/

.nav-link[data-toggle='megaMenu']:after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #1779ba transparent transparent;
    right: 5px;
    left: auto;
    margin-top: -3px;
}

@media screen and (min-width: 64em) {

	/** Header **/
	.open-mini-basket .open-minbasket-text,
	.open-mini-basket .fa-caret-down {
		display: inline;
	}

	/** Mega Menu **/
	.mega-menu.dropdown-pane.is-open {
		top: -0.1rem;
		right: -0.1rem;
		width: 100%;
		padding-left: 25rem; /* Left Offset */
	}

}